.container {
  margin: 2rem;
}

.title {
  color: darkcyan;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.code {
  font-family: monospace;
  background-color: lightgray;
}

.text {
  margin-bottom: 1rem;
}
